$body_font: "{{ settings.body_font | remove('Google+') | replace({'+': ' '}) }}";
$body_font_type: "{{ settings.body_font_type }}";
$body_font_weight: "{{ settings.body_font_weight }}";
$body_font_color: "{{ settings.body_font_color }}";
$body_font_size: "{{ settings.body_font_size }}";
$image_placeholder: "{{ 'placeholders/product-11.jpg' | global_img_url }}";
$body_background_color: "{{ settings.body_background_color }}";
$brand_main_color: "{{ settings.brand_main_color }}";
$breadcrumb_background_color: "{{ settings.breadcrumb_background_color }}";
$breadcrumb_active_links_color: "{{ settings.breadcrumb_active_links_color }}";
$breadcrumb_inactive_links_color: "{{ settings.breadcrumb_inactive_links_color }}";
$footer_background_color: "{{ settings.footer_background_color }}";
$footer_body_text_color: "{{ settings.footer_body_text_color }}";
$footer_links_color_hover: "{{ settings.footer_links_color_hover }}";
$footer_title_color: "{{ settings.footer_title_color }}";
$footer_second_menu_links_color_hover: "{{ settings.footer_second_menu_links_color_hover }}";
$footer_links_color: "{{ settings.footer_links_color }}";
$footer_second_menu_text_color: "{{ settings.footer_second_menu_text_color }}";
$footer_second_menu_background_color: "{{ settings.footer_second_menu_background_color }}";
$footer_second_menu_links_color: "{{ settings.footer_second_menu_links_color }}";
$headings_color: "{{ settings.headings_color }}";
$heading_font: "{{ settings.heading_font | remove('Google+') | replace({'+': ' '}) }}";
$heading_font_type: "{{ settings.heading_font_type }}";
$heading_font_weight: "{{ settings.heading_font_weight }}";
$input_border_color: "{{ settings.input_border_color }}";
$main_banner_background_color: "{{ settings.main_banner_background_color }}";
$main_banner_bg_color: "{{ settings.main_banner_bg_color }}";
$main_link_color: "{{ settings.main_link_color }}";
$main_link_color_hover: "{{ settings.main_link_color_hover }}";
$main_menu_background_color: "{{ settings.main_menu_background_color }}";
$main_menu_links_color_hover: "{{ settings.main_menu_links_color_hover }}";
$main_menu_links_color: "{{ settings.main_menu_links_color }}";
$main_menu_links_bg_color: "{{ settings.main_menu_links_bg_color }}";
$main_menu_dropdown_links: "{{ settings.main_menu_dropdown_links }}";
$main_menu_dropdown_bg: "{{ settings.main_menu_dropdown_bg }}";
$main_menu_dropdown_links_hover: "{{ settings.main_menu_dropdown_links_hover }}";
$main_menu_dropdown_bg_hover: "{{ settings.main_menu_dropdown_bg_hover }}";
$placeholder_background_color: "{{ settings.placeholder_background_color }}";
$product_card_background_color: "{{ settings.product_card_background_color }}";
$slide_title_color: "{{ settings.slide_title_color }}";
$second_menu_background_color: "{{ settings.second_menu_background_color }}";
$second_menu_links_color_hover: "{{ settings.second_menu_links_color_hover }}";
$second_menu_links_color: "{{ settings.second_menu_links_color }}";
$slide_1_bg_color: "{{ settings.slide_1_bg_color }}";
$slide_2_bg_color: "{{ settings.slide_2_bg_color }}";
$slide_3_bg_color: "{{ settings.slide_3_bg_color }}";
$slide_1_btn_color: "{{ settings.slide_1_btn_color }}";
$slide_2_btn_color: "{{ settings.slide_2_btn_color }}";
$slide_3_btn_color: "{{ settings.slide_3_btn_color }}";
$slide_4_btn_color: "{{ settings.slide_4_btn_color }}";
$slide_btn_color: "{{ settings.slide_btn_color }}";
$slide_1_title_color: "{{ settings.slide_1_title_color }}";
$slide_1_description_color: "{{ settings.slide_1_description_color }}";
$slide_2_title_color: "{{ settings.slide_2_title_color }}";
$slide_2_description_color: "{{ settings.slide_2_description_color }}";
$slide_3_title_color: "{{ settings.slide_3_title_color }}";
$slide_3_description_color: "{{ settings.slide_3_description_color }}";
$slider_arrow_color: "{{ settings.slider_arrow_color }}";
$slide_price_text: "{{ settings.slide_price_text }}";
