.featured-collection-grid {
  .collection--item {
    @media(max-width: 767px) {
      margin-bottom: 15px;
    }
    &__link {
      display: block;
      text-align: center;
    }
    &__link::before {
      content: '';
      background-color:  transparent;
      -webkit-transition: background-color .5s ease-out;
      -moz-transition: background-color .5s ease-out;
      -o-transition: background-color .5s ease-out;
      transition: background-color .5s ease-out;
    }
    &__link:hover, &__link:focus {
      text-decoration: none;
    }
    &__link:hover::before {
      content: '';
      background-color: rgba(0,0,0,.05);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      -webkit-transition: background-color .5s ease-out;
      -moz-transition: background-color .5s ease-out;
      -o-transition: background-color .5s ease-out;
      transition: background-color .5s ease-out;
    }
    &__title {
      color: #ffffff;
      font-size: 1.8em;
      margin: 0;
      @media(min-width: 768px) {
        font-size: 2em;
      }
      @media(min-width: 992px) {
        font-size: 2.1em;
      }
      @media(min-width: 1200px) {
        font-size: 2.2em;
      }
      @media(min-width: 1920px) {
        font-size: 2.3em;
      }
    }
    &__image {
      position: relative;
      width: 100%;
      height: auto;
      display: block;
    }
    .data-container {
      display: inline-block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
    .outher {
      display: table;
      height: 100%;
      width: 100%;
    }
    .inner {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
}
