{% extends 'layout.twig' %}

{% block body %}
<div class="container margin-top margin-bottom">
  <div class="row">
    <div class="col-sm-12 section__title section-title--margin text-center">
      <h1 class="section-heading">¡PÁGINA NO ENCONTRADA!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 section__title text-center">
      <i class="fa fa-thumbs-o-down fa-5x" aria-hidden="true"></i>
      <h3>Lo sentimos, no pudímos encontrar la página que estas buscando.</h3> 
      <p>Puedes <a href="/">regresar al inicio</a></p>
    </div>
  </div>
</div>
{% endblock %}
