{% extends 'layout.twig' %}

{% block body %}
<div class="container margin-top">
<div class="row">
  <div class="col-xs-12 section__title">
    <h1 class="section-heading">{{ page.title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{ page.content }}
  </div>
</div>
</div>
{% endblock %}
