<div class="blog-grid-item">
    <div class="blog-grid-item__thumb-link placeholder">
        <div class="center-precontainer">
            <div class="center-container">
                <img class="img-responsive" src="{{ 'placeholders/product-11.jpg' | global_img_url }}">
            </div>
        </div>
    </div>
    <h5 class="blog-grid-item__title">Lorem Ipsum</h5>
    <p class="blog-grid-item__summary">Simply dummy text... </p>
    <a href="#" class="btn blog-read-more">Leer más</a>
</div>
