  <div class="container margin-top placeholder-hover">
    <div class="placeholder-helper">
      <div class="placeholder-info text-center">
        <h3>¡Falta poco!</h3>
        <p>Todavía no existen Productos en la colección de <strong>Incio</strong>, una vez que empieces a crearlos aparecerán aquí.</p>
        <div class="row">
          <div class="col-xs-12 text-center">
            <p><a href="/admin/products" class="btn btn-placeholder">Gestionar Productos</a>
            <a href="/admin/collections" class="btn btn-placeholder">Gestionar Colecciones</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 section__title">
        <h2 class="section-heading">Colecciones destacadas</h2>
      </div>
    </div>
    <div class="row front__collections__grid">
      <div class="col-xs-12 col-sm-6 col-md-3">
        {% include '_collection-placeholder-card.twig' with { number: 1 } %}
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        {% include '_collection-placeholder-card.twig' with { number: 2 } %}
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 visible-md visible-lg">
        {% include '_collection-placeholder-card.twig' with { number: 3 } %}
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 visible-md visible-lg">
        {% include '_collection-placeholder-card.twig' with { number: 4 } %}
      </div>
    </div>
  </div>
