{% if collection.image_url is not null %}
  {% set style = ' style="background-image: url(\'' ~ collection.image_url ~ '&w=1200&h=744&fit=crop\');"' %}
  {% set class = ' collection__item--with_image' %}
{% else %}
  {% set style = null %}
  {% set class = ' collection__item--no_image' %}
{% endif %}

<div class="collection__item collection__item--rectangle--full {{ class }}" {{ style }}>
  <div class="collection__item__overlay">
    <a href="/colecciones/{{ collection.permalink }}" class="collection__item__title">
      <span class="collection__item--link">{{ collection.title }}</span>
    </a>
  </div>
</div>
