<div class="row collection__grid collection__layout__3-items no-gutter">
  <div class="col-sm-4">
    {% include '_collection-rectangle.twig' with { 'collection': collection_1 } %}
  </div>
  <div class="col-sm-4">
    {% include '_collection-rectangle.twig' with { 'collection': collection_2 } %}
  </div>
  <div class="col-sm-4">
    {% include '_collection-rectangle.twig' with { 'collection': collection_3 } %}
  </div>
  <div class="col-sm-12 col-md-12">
    {% include '_collection-rectangle--full.twig' with { 'collection': collection_4 } %}
  </div>
  <div class="col-sm-6 col-md-6">
    {% include '_collection-rectangle.twig' with { 'collection': collection_5 } %}
  </div>
  <div class="col-sm-6 col-md-6">
    {% include '_collection-rectangle.twig' with { 'collection': collection_6 } %}
  </div>
</div>