<div class="row collection__grid collection__layout__2-items no-gutter">
  <div class="col-xs-6">
    {% include '_collection-rectangle.twig' with { 'collection': collection_1 } %}
  </div>
  <div class="col-xs-6">
    {% include '_collection-rectangle.twig' with { 'collection': collection_2 } %}
  </div>
</div>
