{% if settings.video_enable and settings.video_url is not empty %}
<div class="container margin-bottom margin-top">
  <div class="row">
    <div class="col-xs-12">
      <!-- 21:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-{{ settings.video_format_size }}">
      {% if settings.video_url_type == 'youtube' %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ settings.video_url }}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      {% else %}
        <iframe src="https://player.vimeo.com/video/{{ settings.video_url }}?color=3bffb3&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
