<div class="row featured-collection-grid no-gutter">
  <div class="col-xs-12 col-sm-6 col-md-4">
    {% include '_collection-one-item.twig' with { 'collection': collection_1, 'cropped': true } %}
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    {% include '_collection-one-item.twig' with { 'collection': collection_2, 'cropped': true } %}
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4">
    {% include '_collection-one-item.twig' with { 'collection': collection_3, 'cropped': true } %}
  </div>
</div>
