{% set featured_collections = [] %}

{% for i in 1..6 %}
  {% set featured_collection = 'featured_collection_' ~ i %}
  {% if settings[featured_collection] is not empty and collections[settings[featured_collection]]is defined %}
    {% set featured_collections = featured_collections | merge([collections[settings[featured_collection]]]) %}
  {% endif %}
{% endfor %}
{% if featured_collections | length > 0 %}
<div class="container margin-bottom {{ margin_top }}">
  {% if featured_collections | length == 1 %}
    {% include '_featured-collection-1-item.twig' with { 'collection_1': featured_collections.0 } only %}
  {% elseif featured_collections | length == 2 %}
    {% include '_featured-collection-2-items.twig' with { 'collection_1': featured_collections.0, 'collection_2': featured_collections.1 } only %}
  {% elseif featured_collections | length == 3 %}
    {% include '_featured-collection-3-items.twig' with { 'collection_1': featured_collections.0, 'collection_2': featured_collections.1, 'collection_3': featured_collections.2 } only %}
  {% elseif featured_collections | length == 4 %}
    {% include '_featured-collection-4-items.twig' with { 'collection_1': featured_collections.0, 'collection_2': featured_collections.1, 'collection_3': featured_collections.2, 'collection_4': featured_collections.3 } only %}
  {% elseif featured_collections | length == 5 %}
    {% include '_featured-collection-5-items.twig' with { 'collection_1': featured_collections.0, 'collection_2': featured_collections.1, 'collection_3': featured_collections.2, 'collection_4': featured_collections.3, 'collection_5': featured_collections.4 } only %}
  {% elseif featured_collections | length == 6 %}
    {% include '_featured-collection-6-items.twig' with { 'collection_1': featured_collections.0, 'collection_2': featured_collections.1, 'collection_3': featured_collections.2, 'collection_4': featured_collections.3, 'collection_5': featured_collections.4, 'collection_6': featured_collections.5 } only %}
  {% endif %}
</div>
{% else %}
  {% include '_collection-placeholder.twig' %}
{% endif %}