<div class="row featured-collection-grid no-gutter">
  <div class="col-xs-6">
    {% include '_collection-one-item.twig' with { 'collection': collection_1, 'cropped': true } %}
  </div>
  <div class="col-xs-6">
    {% include '_collection-one-item.twig' with { 'collection': collection_2, 'cropped': true } %}
  </div>
</div>

