<div class="navbar navbar-filters">
    <div class="container">
        <div class="navbar-collapse">
            <form class="navbar-form" role="filters">
                <div class="form-group">
                  <select name="filter_alph" class="form-control">
                      <option value="">Alfabéticamente:</option>
                      <option value="a-z">A-Z</option>
                      <option value="z-a">Z-A</option>
                  </select>
                </div>
                <div class="form-group">
                  <select name="filter_date" id="filter_type" class="form-control">
                      <option value="">Fecha:</option>
                      <option value="date">Nuevos - viejos</option>
                      <option value="popularity">Viejos - nuevos </option>
                  </select>
                </div>
                <div class="form-group">
                  <select name="filter_price" id="filter_type" class="form-control">
                      <option value="">Precio:</option>
                      <option value="date">Menor - mayor</option>
                      <option value="popularity">Mayor - menor</option>
                  </select>
                </div>
                <div class="form-group">
                  <button class="btn btn-sm btn-default" type="submit">Filtrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
