<div class="{{ class }} {{ visibility }}">
  <form action="/buscar" method="get" class="search__form">
    <input type="hidden" name="type" value="product"/>
    <div class="input-group search--input-group">
    <input class="rounded search__input" type="text" name="q" placeholder="Buscar..." autocomplete="on">
    <button type="submit" class="search__button"><i class="fa fa-search icon" aria-hidden="true"></i></button>
    </div>
  </form>
</div>
